doctype 5
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    link(rel='shortcut icon', href='/images/evbogue.jpg')
    link(rel='stylesheet', href='/node_modules/embittered/stylesheets/base.css')
    link(rel='stylesheet', href='/node_modules/embittered/stylesheets/skeleton.css')
    link(rel='stylesheet', href='/node_modules/embittered/stylesheets/layout.css')
    script(type='text/javascript', src='/node_modules/embittered/javascripts/highlight.min.js')
    link(rel='stylesheet', href='/node_modules/embittered/stylesheets/monokai_sublime.css')
    link(rel='stylesheet', href='/node_modules/embittered/stylesheets/style.css')
    
  body
    script(type='text/javascript') hljs.initHighlightingOnLoad();
                    
    .container
      .twelve.columns.offset-by-two
        block content
        include footer.md
