img(src="/images/evbogue.jpg", width="100%", class="profile", style="margin-bottom: 1em;")

p 
  strong 
    a(href='http://evbogue.com') Ev Bogue
  |  v0.28.6 Stable<br /> 

p 
  strong Email 
  a(href='mailto:ev@evbogue.com') ev@evbogue.com<br />
  strong Twitter 
  a(href='http://twitter.com/venportman') @venportman<br />
  strong Gittip 
  a(href='http://www.gittip.com/evbogue') @evbogue

a(href='http://deploy.evbogue.com')
  img(src='http://writing.evbogue.com/images/deploy.jpg', width='100%', class='profile', style='margin-bottom: 1em;')

