img(src="/images/evbogue.jpg", width="100%", class="profile")

h2 Hi, I'm Ev Bogue

p I teach technical skills so you can 
  a(href='http://deploy.evbogue.com/') Deploy Node

:markdown
  <script data-gittip-username="evbogue"
  src="https://www.gittip.com/assets/widgets/0002.js">
  </script>
  <br />
  <a href="/gittip">Why Gittip?</a>

p I live in Bed-stuy, Brooklyn

P I'm 
  a(href='http://twitter.com/venportman') Ven Portman 
  | on Twitter

p 
  a(href='/haters/') Haters page

p Email: 
  a(href='mailto:ev@evbogue.com') ev@evbogue.com 
  | <br />
  | XMPP: 
  a(href='xmpp:evbogue@jabber.org') evbogue@jabber.org
  | <br />
  | Git: 
  a(href='http://github.com/evbogue') Github
  |  | 
  a(href='http://gitlab.com/u/ev') Gitlab

p Receive 
  a(href='/letters') Letters
  |  to your inbox...

include subscribe.html