a(href='/about') 
  img(src="/images/evbogue.jpg", width="100%", class="profile", style="margin-bottom: 1em;")

p 
  strong I'm Ev Bogue
  |  I teach technical skills so you can 
  a(href='http://deploy.evbogue.com/') Deploy Node

:markdown
  <script data-gittip-username="evbogue"
  src="https://www.gittip.com/assets/widgets/0002.js">
  </script>
  <br />

p 
  strong Location
  |  Bed-stuy, Brooklyn, NYC<br />
  strong Twitter 
  a(href='http://twitter.com/venportman') @venportman<br />
  strong Email 
  a(href='mailto:ev@evbogue.com') ev@evbogue.com

<script type="text/javascript" language="JavaScript" src="http://evbogue.us7.list-manage.com/subscriber-count?b=39&u=1128ab05-7858-4da8-8d71-9f5ad697ad10&id=cabc7cbc4c"></script>

include subscribe.html