a(href='/about') 
  img(src="/images/evbogue.jpg", width="100%", class="profile", style="margin-bottom: 1em;")

p 
  strong 
    a(href='http://evbogue.com') Ev Bogue
  |  v0.28.6 Stable<br />
  strong 
    a(href='http://venportman.com') Ven Portman
  |  v0.29.2 Unstable<br />
  

p 
  strong Email 
  a(href='mailto:ev@evbogue.com') ev@evbogue.com<br />
  strong Twitter 
  a(href='http://twitter.com/venportman') @venportman
p
  strong Products<br />
  a(href='http://deploy.evbogue.com') Deploy Node<br />
  a(href='http://money.evbogue.com') Sudo Make Money<br />

:markdown
  <script data-gittip-username="evbogue"
  src="https://www.gittip.com/assets/widgets/0002.js">
  </script>
  <br />
