a(href='/about') 
  img(src="/images/evbogue.jpg", width="100%", class="profile", style="margin-bottom: 1em;")

p 
  strong Ev Bogue | 
    a(href='mailto:ev@evbogue.com') ev@evbogue.com


p
  From 2009 - 2012, Ev Bogue wrote about Minimalism and Living a Location Independent Lifestyle. For a limited time, get all of his previous writing for only $97 in The Odyssey.

:markdown
  <script data-gittip-username="evbogue"
  src="https://www.gittip.com/assets/widgets/0002.js">
  </script>
  <br />

p 
  strong Twitter 
  a(href='http://twitter.com/venportman') @venportman<br />

