a(href='/about') 
  img(src="/images/evbogue.jpg", width="100%", class="profile", style="margin-bottom: 1em;")

p 
  strong I'm Ev Bogue
  |  I teach technical skills so you can 
  a(href='http://deploy.evbogue.com/') Deploy Node

:markdown
  <script data-gittip-username="evbogue"
  src="https://www.gittip.com/assets/widgets/0002.js">
  </script>
  <br />

p 
  strong Location
  |  Bed-stuy, Brooklyn, NYC<br />
  strong Twitter 
  a(href='http://twitter.com/venportman') @venportman<br />
  strong Email 
  a(href='mailto:ev@evbogue.com') ev@evbogue.com

include subscribe.html